.parceiros {
  margin-top: 60px;
  margin-bottom: 120px;
}

.parceiros ul {
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
  display: flex;
  padding: 32px;
}

.parceiros img {
  margin: 0 auto;
}

@media (max-width: 800px) {
  .parceiros {
    margin-bottom: 60px;
  }
  .parceiros li {
    padding: 20px;
  }
  .parceiros h2 {
    margin-bottom: 20px;
  }
  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
